
@{
    Layout = null;
}


@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <title>Црквена канцеларија</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/Style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
    body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
    .w3-row-padding img {margin-bottom: 12px}

    .w3-sidebar {width: 120px;background: #222;}

    #main {margin-left: 120px}
    #more {
        display: none;
    }
   
</style>
<body class="w3-black">

    <!-- Icon Bar (Sidebar - hidden on small screens) -->
    <nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
        <!-- Avatar image in top left corner -->
        <img src="~/Content/Images/krst.png" style="width:50%">
        <a href='@Url.Action("Index", "Home")' class="w3-bar-item w3-button w3-padding-large w3-black">
            <i class="fa fa-home w3-xxlarge"></i>
            <p>ПОЧЕТНА</p>
        </a>
        <a href='@Url.Action("Index", "Onama")' class="w3-bar-item w3-button w3-padding-large w3-hover-black">
            <i class="fa fa-user w3-xxlarge"></i>
            <p>О НАМА</p>
        </a>
        <a href='@Url.Action("Index", "Slike")' class="w3-bar-item w3-button w3-padding-large w3-hover-black">
            <i class="fa fa-eye w3-xxlarge"></i>
            <p>СЛИКЕ</p>
        </a>
        <a href='@Url.Action("Index", "Kontakt")' class="w3-bar-item w3-button w3-padding-large w3-hover-black">
            <i class="fa fa-envelope w3-xxlarge"></i>
            <p>КОНТАКТ</p>
        </a>
        <a href='@Url.Action("Index", "Login")' class="w3-bar-item w3-button w3-padding-large w3-hover-black">
            <i class="fa fa-user w3-xxlarge"></i>
            <p>УЛОГУЈ СЕ</p>
        </a>
        <a href='@Url.Action("Index", "Registracija")' class="w3-bar-item w3-button w3-padding-large w3-hover-black">
            <i class="fa fa-registered w3-xxlarge"></i>
            <p>РЕГИСТРУЈ СЕ</p>
        </a>
    </nav>

   

    <!-- Page Content -->
    <div class="w3-padding-large" id="main">
        <!-- Header/Home -->
        <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
            <h1 class="w3-jumbo"><span class="w3-hide-small">СРПСКА </span>ПРАВОСЛАВНА ЦРКВА</h1>
            <p><i>~ НЕ ДАМО СВЕТИЊЕ ~</i></p>
            <img src="~/Content/Images/logo.png"  class="w3-image" width="300" height="450">
        </header>

        <!-- About Section -->
        <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
            <h2 class="w3-text-light-grey">Жичка беседа Светог Саве о правој вери</h2>
            <hr style="width:200px" class="w3-opacity">
            <p>
                (1) Браћо и пријатељи и оци и чеда богозванога, приклоните богољубива срца ваша да чујете божанске догмате. И чувши ове свете речи ставите их, браћо, у срца ваша и у савести душа [ваших] и пред очи ума [вашег], и разумите их.
                <br />
                <br />
                (2) Премилосрдни и човекољубиви Бог, имајући неизмерну милост према роду људском, приклони небеса и сиђе на земљу, и Својим божанским домостројем и добровољним подношењем многоврсних страдања божанског тела [Свог], просвети род наш; и посла у сав свет Свете Апостоле, рекавши им: "Идите и научите све народе крстећи их у име Оца и Сина и Светога Духа". Али пошто они сами до нас не дођоше, то оци наши, чувши у истини речи њихове, повероваше им. И преблаги Бог, Који има бескрајну милост и не жели да погине ниједан од нас, по истој тој првој заповести и истим начином по науци и проповеди Светих Апостола уздиже мене на ово светитељство хотећи да преко мене "испуни недостатке" отаца наших; и Духом Својим Светим заповеди ми да вам објавим ову реч своју о вашем спасењу, коју вичувши са љубављу је сачувајте, да бисмо и ми били заједничари реда светих.
                <br />
                <br />
                <span id="dots">...</span><span id="more">
                    (3) Стога вас, браћо и чеда, ово прво молим да, положивши сву наду своју на Бога, држимо се пре свега праве вере његове. Јер, као што рече Апостол, "темеље другога нико не може поставити осим онога којега постави" Дух Свети преко Светих Апостола и богоносних Отаца, а то је -- права вера која је на светих седам васељенских сабора потврђена и проповедана. И зато на овом темељу свете вере треба нам зидати злато и сребро и драго камење, то јест добра дела. Јер нити користи исправност живота без праве и просвећене вере у Бога, нити нас право исповедање [вере] без добрих дела може извести пред Господа, него треба имати обоје, да "савршен буде човек Божји", а не да због недостатка [једнога] храмље живот наш. Јер, као што рече Апостол: "Спасава вера, која кроз љубав дела".
                    <br />
                    <br />
                    (4) Верујемо, дакле, у Оца и Сина и Светога Духа, певајући Тројицу Божанску, Узрок и Саздатеља свега проузрокованога, видљивога и невидљивога. [Тројицу] Која је једне суштине, то јест природе, и у три Лица, то јест говоримо Ипостаси и Личности, чиме нећемо да подразумевамо обличјем или разликом три Бога или три природе или суштине, него исповедамо једнога Бога и једну просту и бестелесну природу и суштину, а разликом Лица различитост Ипостаси означавамо; клањајући се [на тај начин] Тројици у Јединици и Јединици у Тројици, Јединици Триипостасној и Тројици Једносуштној и једномоћној и сабеспочетној. Њу једину познајемо вечнопостојећу, беспочетну, нестворену, бесмртну, непропадљиву, нестрадалну, свезадтељну и [све]држећу и [све]промислитељну.
                    <br />
                    <br />


                    (5) И једнога од Тројице, не Оца ни Светога Духа, но од Бога Оца рођенога Сина и Бога, Логоса, надвремено и од Њега Родитеља нераздељиво рођенога, а не створенога, једносуштног Родитељу и увекпостојећег са Њим; Који је [Логос] добротом [Својом] све привео из небића у биће, и Који је у последње дане ради нашега спасења сишао са небеса и уселио се у утробу Дјеве и сјединио Се с телом одушевљеним, и душу разумну и умну суштински примио од те исте Пречисте Дјеве Марије (Богородице). Он, од Бога Оца једносуштни Њему Бог Логос, због премногог човекољубља [Свог] изволео је, вољом Оца и Духа [Светог], да спасе Своје створење; сишавши из Очевог наручја, одакле се није одвојио, (и ушавши у утробу Пречисте Дјеве) и узевши на себе не раније зачето тело одушевљено душом разумном и умом, произиђе [из Дјеве] Бог оваплоћен, родивши се неизрециво и са и сачувавши неповређеним девство Оне која је родила; не претрпевши ни сливање нити промену, него остаде оно што беше а постаде оно што не беше; узевши на Себе обличје слуге, истински а не привиђењем уподоби се нама у свему осим греха.
                    <br />
                    <br />
                    (6) Њега знамо као савршенога Бога и савршенога Човека, не другога и другога, него једнога и истога пре оваплоћења и по оваплоћењу, једну сложену Ипостас; Њега једног истог у двема савршеним природама и својствима, и у двема природним вољама и дејствима, обома сједињеним по Ипостаси неизменљиво. Исповедамо Њега једног истог вољом хотећег и делајућег божанска [дела] као Бог, и Њега једног истог вољом хотећег и делајућег човечанска [дела] као човек. Јер Он не беше подложан природним нуждама, него се по вољи [Својој] родио, по вољи гладнео, по вољи жеднео, по вољи био уморан, по вољи се бојао, по вољи умро, истински, а не привидно, претрпео сва природна и беспрекорна страдања човечанска. И Он, Безгрешни, би распет и смрт окуси, и трећи дан васкрсе телом не видећи трулежност, и људску суштину неповређену и неосмрћену васкрсе, и узвевши је на небеса седе с десне стране Оца; и опет ће доћи да суди живима и мртвима; као што се узнесе телом Својим тако ће доћи и дати свакоме по делу његовом. Јер вели: "Васкрснуће мртви и устаће који су у гробовима, и они који чинили добро" са правом вером "отићи ће у живот вечни, а који су чинили зло -- у васкрсење суда."
                    <br />
                    <br />
                    (7) Уз то, ми се клањамо и поштујемо и целивамо свечесну икону човечанског оваплоћења Бога Логоса помазаног Божанством и оставшег непромењено, тако да онај који је помазан вером сматра да види самога Бога Који се јавио у телу и с људима поживео. Клањамо се и дрвету Часнога крста и светим часним сасудима и божанским црквама и светим местима . Клањамо се и част одајемо икони Пресвете Богородице и иконама свечесних Божјих угодника, уздижући очи душе (наше) ка првообразном лику и ум узносећи на оно што је несхватљиво.
                    <br />
                    <br />
                    (8) Ово је богољубиви (моји), догмат православних Отачких предања. Следујући њима, и ми тако верујемо и тако исповедамо, а све јеретике и сваку јерес њихову проклињемо.
                    <br />
                    <br />
                    (9) Примамо свих седам Васељенских сабора: први, који је био у Никеји, 318 Светих Отаца; други, у Константиновом граду, 150 Светих Отаца; трећи, ранији, у Ефесу, 200 Светих Отаца; четврти у Халкидону, 630 Светих Отаца; пети, опет у Константиновом граду, 164 Светих Отаца; шести, опет у Константиновом граду граду, 170 Светих Отаца. И још онај, мало касније бивши у Никејској митрополији, седми Сабор 350 Светих Отаца, против оних који се одричу часних икона и не изображавају их и не поклањају им се, безбожно клеветајући хришћане. А примамо и све Свете саборе који су се Божјом благодаћу у разна времен а и места сабирали ради утврђивања православног јеванђеоског учења, које прима Саборна Црква. А оних којих се одрекоше ови Свети Оци, одричемо се и ми; и које проклеше они, проклињемо и ми.
                    <br />
                    <br />
                    (10) Јер многу јерес у разна времена и раздобља ђаво измисли, и многи кукољ зловерја кроз слуге његове јересеначелнике посеја у васељени ради кварења и смућивања праве вере, које ми проклињемо, и с њима оне који измислише зле догмате, и гнушамо се сваке нечастиве јереси.
                    <br />
                    <br />
                    (11) Ми пак стремимо се већма ка свакој побожности којој нас уче богомудре слуге Божје: Пророци, Апостоли и Светитељи, као што и сам Господ Исус Христос Син Божији рече, када од Оца дође на земљу оваплотивши се и роди се по други пут, од пречисте присно дјеве, и догмате домостроја Очевог и Свог изврши дивно, и заиста неизрециво разапе се на крсту, и трећи дан васкрсе, и по васкрсењу Своме остаде овде на земљи четрдесет дана; и када хтеде узићи на небо ка Оцу [Своме], заповеди ученицима Својим Апостолима говорећи: " Идите и научите све крајеве крстећи их у име Оца и Сина и Светога Духа, учећи их да све држе што сам вам заповедио". И опет: "Проповедајте Јеванђеље сваком створењу; ко поверује и крсти се, спашће се; а ко не верује, осудиће се". Ово је дакле права вера: крстити се у име Оца и Сина и Светога Духа.
                    <br />
                    <br />
                    (12) И тако, ми који смо хришћани обећали смо: молити се Богу своме свагда, (држећи заповести Његове и увек творећи вољу Његову). Јер је "вера без дела мртва", по речи Јаковљевој. Но, браћо и чеда моја љубљена, као што и напред рекох, обоје [треба] да са страхом и трепетом држимо [и чувамо]. Држите (стога) реч Божју и свету веру Христову, и призивајте чистим срцем пресвето Име Његово, и не ленећи се у светим молитвама припадајте к Њему исповедајући грехе своје, плачући са сузама пред Њим и Њему певајући и припевајући у срцима вашим свагда му певајући и припевајући у срцима вашим свагда дан и ноћ непрестано. Јер Бог, када Га људи исповедају и моле Му се, сам уверава људе и духовно улази вером у срца оних који добро слушају науку Његову. Јер духовна наука није игра, нити речи безумља мисли људских, него је то проповедана света вера Божја на којој су основани свети чинови у Христу Исусу Господу нашем, о Коме Пророци Светим Духом Божјим прорекоше, и Апостоли научише, и Мученици исповедише, и сви Свети сачуваше, и Преподобни оци беспрекорно одржаше као на недељивом крајеугаоном Камену црквеном Христу Који је Премудрост и Сила Очева [и то сачуваше] светодуховски и силно и крепко и чврсто и поуздано у вери --, Који [Христос] и до сада многе уверава и утврђује и свима потврђује Своју веру божанску. Он, Преблаги Човекољубац, и до нас достиже Својом богатом милошћу, исправљајући наше недостатке, хотећи као Пастир истинити да нас, заблуделе овце, сакупи у небески тор (Свој). Досежући до тога тора мисаоним и душевним очима (нашим), ми Му се свагда молимо припадајући Му у сваки час, и исповедајући Му се, како Он сам дарује исказати то или помислити и неизречено сачувати. И ми, сатворивши вољу Његову, добићемо од Њега спасење у овом веку и у будућем, ако верно сачувамо заповести Његове које нам је сам Господ заповедио да држимо и обећао нам за то небеску награду, рекавши: "Заиста вам кажем: Ко одржи реч Моју неће видјети смрти вавијек".
                    <br />
                    <br />
                    (13) Да, чеда моја љубљена, шта је поузданије и праведније од ове речи коју Христос сам посведочава и потврђује истином? Шта је боље од овога: не окусити смрти довека? Јер само то неокушање смрти већ је далеко од греха, јер је окушањем греха укус смрти ушао у сав род људски до Христа. Ради тога окуси смрт Он, Који је безгрешан и бесмртан по [Свом] првом рођењу од Оца, но окуси је ради нас, и пострада, да и ми вером у Њега окусимо бесмртност, као што рече Пророк: "Окусите и видите како је добар Господ". Веома је дакле добар [Господ] и праведна и веран и свима речима Својим, и сва су дела Његова у вери. Зато чеда моја богољубљена, ми који Га љубимо треба да чинимо дела вере у Христу Исусу Господу нашем, ми који смо примили од Њега бесмртну веру, толики дар -- да не умремо никада!
                    <br />
                    <br />
                    (14) Зато, ако ово сачувате, бићете блажени (од Бога у векове, и блажена биће срца ваша, и блажене биће душе ваше, и бићете блажени) ви који сте примили веру Божју и сачували је у чистоти. Гледајући на бесмртни дар Христов, творите свагда бесмртна дела у Христу: веру чисту и молитву честу, имајући према Њему љубав и наду, и савест чисту пред Богом и људима, пост и бдење, на земљи лежање, истину у свему, чистоту телесну и душевно уздржање, чувајући разум светог крштења -- просвећења Божјег, којим се одрекосмо Сатане и свих дела његових. И свагда љубити покајање и исповедање грехова својих и плакање над њима; умиљење, смирење, праведност, поучење, исправљање живота свога, мржњу на грех; не опијање, не блудничење, него, напротив, чист живот какав је Божјим очима угодно гледати.
                    <br />
                    <br />
                    (15) Јер Бог је један од почетка и у бесконачне векове. И ово је прва заповест речена онима који Га љубе: да сваки од вас "љубите Господа Бога свога свим срцем својим, свим умом својим, и свом душом својом, и свом снагом својом". И нека буду речи ове, које вам ја данас заповедам, написане на срцима вашим и у душама вашим, да се бојите Господа Бога Сведржитеља, и у Њему јединоме да служите са страхом и трепетом, и Њему јединоме да служите са страхом и трепетом, и Њему јединоме узносите част и славу, и Њему јединоме приљубљујте се, и Именом Његовим не куните се, него нека је ваша реч по Апостолу: да да, и не не. И уопште, нека се никако не спомиње међу вама други Бог, осим Онога Који је створио небо и земљу; ничему "од онога што је на небу горе и што је на земљи доле и што је у води под земљом, да се не поклоните нити му послужите", осим Господу Богу вашем, у Кога се крстисте и поверовасте, и одрекосте се тајнога срама, и постадосте заједничари добре вере Његове и саучесници бесмртности Његове. Њега јединога неодступно се држите, јер је "пред очима Његовим све откривено", као Што рече Апостол", и "јер је Бог наш огањ који спаљује"; и "узвраћа за грехе очева на деци до трећега и четвртога колена, онима који Га не љубе и не творе вољу Његову, а чини милост на хиљаде и десетине хиљада онима који Га љубе и држе заповести Његове". Јер је он "Бог над боговима и Господар над господарима, Бог Велики и Силини и Страшни". Да "држите заповести Његове, и да извршујете пре очима Његовим све речи које вам заповедих", "да буде добро вама и синовима вашим после вас, и живи будете довека, ако чините добро и угодно пред Господом Богом вашим", Коме (нека је) слава и беспочетност у бесконачне векове, амин.
                </span>


            </p>
            <button onclick="myFunction()" id="myBtn">Прочитај више</button>
                <!-- End About Section -->
        </div>

        <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
            <i class="fa fa-facebook-official w3-hover-opacity"></i>
            <i class="fa fa-instagram w3-hover-opacity"></i>
            <i class="fa fa-snapchat w3-hover-opacity"></i>
            <i class="fa fa-pinterest-p w3-hover-opacity"></i>
            <i class="fa fa-twitter w3-hover-opacity"></i>
            <i class="fa fa-linkedin w3-hover-opacity"></i>
            <p class="w3-medium">Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank" class="w3-hover-text-green">w3.css</a></p>
            <!-- End footer -->
        </footer>
        <!-- END PAGE CONTENT -->
    </div>

</body>
<script>
    function myFunction() {
        var dots = document.getElementById("dots");
        var moreText = document.getElementById("more");
        var btnText = document.getElementById("myBtn");

        if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "Прочитај више";
            moreText.style.display = "none";
        } else {
            dots.style.display = "none";
            btnText.innerHTML = "Прочитај мање";
            moreText.style.display = "inline";
        }
    }
</script>
</html>
